<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="/profile" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">

      <label for="password">Password</label>
      <input type="password" name="password" id="password">

      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" id="confirm_password">

      <button type="submit">Register</button>
    </form>

  </body>
</html>
