<!DOCTYPE html>
<html>
  <head>
    <title>Authentication App</title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
   <div id="back">
     <div id="card">
         <img src="https://www.freeiconspng.com/uploads/facebook-png-icon-follow-us-facebook-1.png">
         <h2>My Authentication</h2>
         <form action="/login"method = "post">
            <input type="text"name = "username"placeholder="User-Name"required>
            <input type="password"name = "password"placeholder="Password"required>            
            <input type="submit"value="Login">           
          </form>
          <a href="/">Register Now</a>
          <p>you need to register to the app before watching the content. read <a href="#">terms & conditions</a> applied.</p>
     </div>
   </div>
  </body>
</html>
