<!DOCTYPE html>
<html>
  <head>
    <title>Authentication App</title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
   <div id="back">
     <div id="card">
         <img src="https://www.freeiconspng.com/uploads/facebook-png-icon-follow-us-facebook-1.png">
         <h2><%- user.name %></h2>
         <h2><%- user.email%></h2>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia voluptas quod qui totam. Iure unde perferendis adipisci ab itaque pariatur! Dicta maiores saepe eum, aperiam quod, eveniet beatae odio, ipsam veniam recusandae laboriosam. Ad nulla est velit sunt quidem sequi!</p>
         <a href="/">Logout</a>         
     </div>
   </div>
  </body>
</html>
